/*	=================================================================
	ADMIN -> ENTRANTS
	=================================================================	*/
	.wp-list-table th.column-entrant {
		width: 10%;
	}

/*	=================================================================
	ADMIN -> ENTRANT METADATA
	=================================================================	*/
	.entrant-details {
		overflow: hidden;
	}
		.entrant-details fieldset {
			clear: both;
			padding: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
			border: 1px #999 solid;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
		}
			.entrant-details fieldset>legend {
				padding: 5px;
				background-color: #eee;
				border: 1px #999 solid;
				font-weight: bold;
				font-size: 14px;
				letter-spacing: -1px;
				color: #000;
			}
		.entrant-details fieldset.left, 
		.entrant-details fieldset.right {
			clear: none;
			width: 45%;
			float: left;
		}
		.entrant-details fieldset.right {
			float: right;
		}
		.entrant-details dl {
			display: block;
			float: left;
			margin-top: 5px;
			margin-bottom: 0px;
			margin-left: 0px;
			margin-right: 10px;
			list-style: none;
		}
		.entrant-details dl.full {
			float: none;
			width: auto;
			margin-right: 0px;
		}
		.entrant-details dl.first {
			padding-top: 0px;
			padding-bottom: 10px;
			padding-left: 0px;
			padding-right: 0px;
			margin-top: 0px;
			margin-bottom: 10px;
			margin-left: 0px;
			margin-right: 0px;
			border-top: none;
			border-bottom: 1px #ddd dashed;
			border-left: none;
			border-right: none;
			background-color: transparent;
			-webkit-border-radius: 0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
		}
			.entrant-details dl>dt, 
			.entrant-details dl>dd {
				display: block;
				clear: both;
				margin: 0px;
				padding: 0px;
				list-style: none;
			}
			.entrant-details dl>dt {
				margin-bottom: 5px;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 10px;
				line-height: 10px;
				letter-spacing: 1px;
				color: #777;
			}
			.entrant-details dl>dd.text {
				height: 25px;
				line-height: 22px;
			}
