<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>NMEDA NMAM Contest Entrant Data Export Facilities</h2>
    <br />
    
    <div class="admin-nmeda-data-export">
        <fieldset>
            <form name="frmDealerCodes" id="frmDealerCodes" action="." method="post" target="_blank">
                <input type="hidden" name="action" value="dealer-code" />
                
                <?php wp_nonce_field($strNonceScriptName, 'nmeda_csv_export_dealercodes_nonce'); ?>
    
                <h3>Dealer Code Usage</h3>
                <p>Click the button below to download an enhanced HTML spreadsheet (Excel only) containing all of the dealer codes currently in use, and the entrants that used them with their contest entry.</p>
    
                <button name="btnSubmit" type="submit">Download Data</button>
            </form>
        </fieldset>
        
        <fieldset>
            <form name="frmVotingDataRaw" id="frmVotingDataRaw" action="." method="post" target="_blank">
                <input type="hidden" name="action" value="voting-data-raw" />
                
                <?php wp_nonce_field($strNonceScriptName, 'nmeda_csv_export_votingallraw_nonce'); ?>
    
                <h3>Raw Voting Data</h3>
                <p>Click the button below to download an enhanced HTML spreadsheet (Excel only) containing all of the votes (and the individual voter details of each vote) cast thus far.</p>
                
                <select name="strFilterOption">
                	<option value="">Show all</option>
                    <option value="top">Show only the top 20% voters</option>
                </select>
                
                <button name="btnSubmit" type="submit">Download Data</button>
            </form>
        </fieldset>

        <fieldset>
            <form name="frmEntrantData" id="frmEntrantData" action="." method="post" target="_blank">
                <input type="hidden" name="action" value="entrant-data" />
                
                <?php wp_nonce_field($strNonceScriptName, 'nmeda_csv_export_entrantdata_nonce'); ?>
    
                <h3>Raw Entrant Data</h3>
                <p>Click the button below to download a comma-separated spreadsheet containing all of the hero entrant data in the database in CSV format.</p>
    
                <button name="btnSubmit" type="submit">Download CSV</button>
            </form>
        </fieldset>
   </div>
</div>