<div class="entrant-details">
	<?php
		if ($intNumVotesBonus > 0) {
			?>
			<p><strong>This entrant has entered a valid dealer code, and received ten (10) bonus votes at the start of the voting period.</strong></p>
            <hr />
            <?php
		}
	?>
    <p><strong>Total Votes Cast:</strong> <?php echo $intNumVotes; ?><br /><strong>Bonus Votes:</strong> <?php echo $intNumVotesBonus; ?></p>
    <hr />
    <p><strong>TOTAL:</strong> <?php echo $intNumVotes + $intNumVotesBonus; ?></p>
</div>
