<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Dealers <a href="edit.php?post_type=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>&page=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>-dealer-info&action=add" class="add-new-h2">Add New</a></h2>
    <br />
    
    <table class="nmedamam-table wp-list-table widefat fixed pages">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>POC</th>
                <th>City</th>
                <th>State</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>POC</th>
                <th>City</th>
                <th>State</th>
                <th>E-mail</th>
                <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>
            <?php
                foreach ($queryGetDealers as $objRow) {
                    $intCurItemID			= intval($objRow->intID);
                    $strCurItemName			= stripslashes($objRow->strName);
					$strCurItemCode			= strtoupper(stripslashes($objRow->strCode));
					$strCurItemPOC			= stripslashes($objRow->strContactFirstName) . ' ' . stripslashes($objRow->strContactLastName);
					$strCurItemCity			= stripslashes($objRow->strCity);
					$strCurItemState		= stripslashes($objRow->strState);
					$strCurItemEmail		= stripslashes($objRow->strEmail);
                    ?>
                    <tr>
                        <td><?php echo $strCurItemName; ?></td>
                        <td><?php echo $strCurItemCode; ?></td>
                        <td><?php echo $strCurItemPOC; ?></td>
                        <td><?php echo $strCurItemCity; ?></td>
                        <td><?php echo $strCurItemState; ?></td>
                        <td><?php echo $strCurItemEmail; ?></td>
                        <td><a href="edit.php?post_type=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>&page=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>-dealer-info&action=edit&cid=<?php echo $intCurItemID; ?>">Edit</a> | <a href="edit.php?post_type=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>&page=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>-dealer-info&action=remove&cid=<?php echo $intCurItemID; ?>" class="delete" data-type="dealer">Delete</a></td>
                    </tr>
                    <?php
                }
            ?>
        </tbody>
    </table>		
</div>