<div class="entrant-details">
	<fieldset>
    	<legend>Semifinalist Status</legend>
        
        <dl class="clear full">
            <dt style="display: none;">&nbsp;</dt>
            <dd>
            	<input type="checkbox" name="nmeda_entrant_hero_semifinalist" id="nmeda_entrant_hero_semifinalist"<?php if ($boolCurHeroSemifinalist) { echo ' checked'; } ?> value="1" />
                <label for="nmeda_entrant_hero_semifinalist">Yes, this contest entrant is a semifinalist.</label>
            </dd>
        </dl>
	</fieldset>
    
    <fieldset class="left">
    	<legend>Hero Details</legend>

        <dl class="clear full first">
            <dt><label for="nmeda_entrant_approved">Hero Approved?</label></dt>
            <dd>
                <select name="nmeda_entrant_approved" id="nmeda_entrant_approved">
                    <option value="0">-- Select --</option>
                    <option value="0"<?php if ($boolCurIsApproved == 0) echo ' selected'; ?>>No, not approved (yet) by hero.</option>
                    <option value="1"<?php if ($boolCurIsApproved == 1) echo ' selected'; ?>>Yes, approved by hero.</option>
                </select>
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_hero_firstname">First Name</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_firstname" id="nmeda_entrant_hero_firstname" size="15" value="<?php echo $strCurHeroFirstName; ?>" />
            </dd>
        </dl>
        <dl>
            <dt><label for="nmeda_entrant_hero_lastname">Last Name</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_lastname" id="nmeda_entrant_hero_lastname" size="25" value="<?php echo $strCurHeroLastName; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_hero_email">E-mail</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_email" id="nmeda_entrant_hero_email" size="45" value="<?php echo $strCurHeroEmail; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_hero_address">Address</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_address" id="nmeda_entrant_hero_address" size="55" value="<?php echo $strCurHeroAddress; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_hero_city">City</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_city" id="nmeda_entrant_hero_city" size="15" value="<?php echo $strCurHeroCity; ?>" />
            </dd>
        </dl>
        <dl>
            <dt><label for="nmeda_entrant_hero_state">State</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_state" id="nmeda_entrant_hero_state" size="10" value="<?php echo $strCurHeroState; ?>" />
            </dd>
        </dl>
        <dl>
            <dt><label for="nmeda_entrant_hero_zip">ZIP</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_zip" id="nmeda_entrant_hero_zip" size="5" value="<?php echo $strCurHeroZIP; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_hero_phone">Phone</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_hero_phone" id="nmeda_entrant_hero_phone" size="25" value="<?php echo $strCurHeroPhone; ?>" />
            </dd>
        </dl>
	</fieldset>
    <fieldset class="right">
    	<legend>Entrant Details</legend>

        <dl class="clear full first">
            <dt><label for="nmeda_entrant_promocode">Dealer Promo Code</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_promocode" id="nmeda_entrant_promocode" size="20" value="<?php echo $strCurPromoCode; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_firstname">First Name</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_firstname" id="nmeda_entrant_firstname" size="15" value="<?php echo $strCurFirstName; ?>" />
            </dd>
        </dl>
        <dl>
            <dt><label for="nmeda_entrant_lastname">Last Name</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_lastname" id="nmeda_entrant_lastname" size="25" value="<?php echo $strCurLastName; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_email">E-mail</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_email" id="nmeda_entrant_email" size="45" value="<?php echo $strCurEmail; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_address">Address</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_address" id="nmeda_entrant_address" size="55" value="<?php echo $strCurAddress; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_city">City</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_city" id="nmeda_entrant_city" size="15" value="<?php echo $strCurCity; ?>" />
            </dd>
        </dl>
        <dl>
            <dt><label for="nmeda_entrant_state">State</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_state" id="nmeda_entrant_state" size="10" value="<?php echo $strCurState; ?>" />
            </dd>
        </dl>
        <dl>
            <dt><label for="nmeda_entrant_zip">ZIP</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_zip" id="nmeda_entrant_zip" size="5" value="<?php echo $strCurZIP; ?>" />
            </dd>
        </dl>
        <dl class="clear">
            <dt><label for="nmeda_entrant_phone">Phone</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_phone" id="nmeda_entrant_phone" size="25" value="<?php echo $strCurPhone; ?>" />
            </dd>
        </dl>
	</fieldset>

	<fieldset>
    	<legend>Media</legend>
        
        <dl class="clear full first">
            <dt><label for="nmeda_entrant_mediatype">Entry Type</label></dt>
            <dd>
                <select name="nmeda_entrant_mediatype" id="nmeda_entrant_mediatype">
                    <option value="0">-- Select --</option>
                    <option value="<?php echo NMEDA_MAM::ENTRANT_MEDIA_TYPE_PHOTO; ?>"<?php if ($intCurMediaType == NMEDA_MAM::ENTRANT_MEDIA_TYPE_PHOTO) echo ' selected'; ?>>Photograph</option>
                    <option value="<?php echo NMEDA_MAM::ENTRANT_MEDIA_TYPE_VIDEO; ?>"<?php if ($intCurMediaType == NMEDA_MAM::ENTRANT_MEDIA_TYPE_VIDEO) echo ' selected'; ?>>Video (YouTube)</option>
                </select>
            </dd>
        </dl>
        <dl id="nmeda-entrant-media-photo" class="clear"<?php if ($intCurMediaType != NMEDA_MAM::ENTRANT_MEDIA_TYPE_PHOTO) echo ' style="display: none;"'; ?>>
        	<dd>
            	<p><strong>To change the photo for this entrant</strong>, use the <strong>Featured Image</strong> box on the right hand side of the page.</p>
            </dd>
        </dl>
        <dl id="nmeda-entrant-media-video" class="clear"<?php if ($intCurMediaType != NMEDA_MAM::ENTRANT_MEDIA_TYPE_VIDEO) echo ' style="display: none;"'; ?>>
            <dt><label for="nmeda_entrant_video_url">YouTube URL</label></dt>
            <dd>
                <input type="text" name="nmeda_entrant_video_url" id="nmeda_entrant_video_url" size="50" value="<?php echo $strCurVideoURL; ?>" />
                <br /><br />
                <input type="checkbox" name="nmeda_entrant_video_thumbnail_overwrite" id="nmeda_entrant_video_thumbnail_overwrite" value="1" />
                <label for="nmeda_entrant_video_thumbnail_overwrite">Overwrite entry photo with video thumbnail?</label>
            </dd>
        </dl>
        <dl id="nmeda-entrant-media-video-preview"<?php if ($intCurMediaType != NMEDA_MAM::ENTRANT_MEDIA_TYPE_VIDEO) echo ' style="display: none;"'; ?>>
        	<dt><label for="nmeda_entrant_video_url">Video Preview</label></dt>
            <dd>
            	<?php
					if (($intCurMediaType == NMEDA_MAM::ENTRANT_MEDIA_TYPE_VIDEO) && (strlen($strCurVideoID))) {
						?>
                        <iframe id="ytplayer" type="text/html" width="320" height="240" src="http://www.youtube.com/embed/<?php echo $strCurVideoID; ?>?theme=light" frameborder="0"></iframe>
                        <?php
					}
				?>
            </dd>
        </dl>
    </fieldset>

    <input type="hidden" name="nmeda_entrant_video_thumb_small" id="nmeda_entrant_video_thumb_small" value="<?php echo $strCurVideoThumbSmall; ?>" />
    <input type="hidden" name="nmeda_entrant_video_thumb_large" id="nmeda_entrant_video_thumb_large" value="<?php echo $strCurVideoThumbLarge; ?>" />
    <input type="hidden" name="nmeda_entrant_entered_ip" id="nmeda_entrant_entered_ip" value="<?php echo $strCurEnteredIP; ?>" />
    <input type="hidden" name="nmeda_entrant_entered_date" id="nmeda_entrant_entered_date" value="<?php echo date('Y-m-d H:i:s', $dtCurEntered); ?>" />
</div>
