<div class="wrap">
    <div id="icon-options-general" class="icon32"></div>
    <h2>Editing Dealer</h2>
    <br />

    <form method="post" action="edit.php?post_type=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>&page=<?php echo NMEDA_MAM::ENTRANT_POSTTYPE_SLUG; ?>-dealer-info&action=commit">
    	<input type="hidden" name="cid" id="cid" value="<?php echo $intCurDealerID; ?>" />
		
    	<h3>General Information</h3>
        <table class="form-table">
        	<tbody>
            	<tr valign="top">
                	<th scope="row"><label for="strCode">Code</label></th>
                    <td><input type="text" name="strCode" id="strCode" size="5" maxlength="10" value="<?php echo $strCurDealerCode; ?>" /></td>
				</tr>
                <tr valign="top">
                	<th scope="row"><label for="strName">Name</label></th>
                    <td><input type="text" name="strName" id="strName" size="35" maxlength="255" value="<?php echo $strCurDealerName; ?>" /></td>
                </tr>
			</tbody>
		</table>
        
    	<h3>Address</h3>
        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="strAddress1">Address (Line 1)</label></th>
                    <td><input type="text" name="strAddress1" id="strAddress1" size="55" maxlength="255" value="<?php echo $strCurDealerAddress1; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strAddress2">Address (Line 2)</label></th>
                    <td><input type="text" name="strAddress2" id="strAddress2" size="55" maxlength="255" value="<?php echo $strCurDealerAddress2; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strCity">City</label></th>
                    <td><input type="text" name="strCity" id="strCity" size="25" maxlength="255" value="<?php echo $strCurDealerCity; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strState">State/Province</label></th>
                    <td><input type="text" name="strState" id="strState" size="3" maxlength="5" value="<?php echo $strCurDealerState; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strZIP">ZIP/Postal Code</label></th>
                    <td><input type="text" name="strZIP" id="strZIP" size="10" maxlength="20" value="<?php echo $strCurDealerZIP; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strCountry">Country</label></th>
                    <td><input type="text" name="strCountry" id="strCountry" size="25" maxlength="255" value="<?php echo $strCurDealerCountry; ?>" /></td>
                </tr>
			</tbody>
		</table>

		<h3>Contact Information</h3>
        <table class="form-table">
        	<tbody>
                <tr valign="top">
                	<th scope="row"><label for="strContactFirstName">Contact First/Last</label></th>
                    <td>
                    	<input type="text" name="strContactFirstName" id="strContactFirstName" size="15" maxlength="255" value="<?php echo $strCurDealerContactFirst; ?>" />
                    	<input type="text" name="strContactLastName" id="strContactLastName" size="35" maxlength="255" value="<?php echo $strCurDealerContactLast; ?>" />
					</td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strEmail">E-mail</label></th>
                    <td><input type="text" name="strEmail" id="strEmail" size="55" maxlength="255" value="<?php echo $strCurDealerEmail; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strPhone">Phone</label></th>
                    <td><input type="text" name="strPhone" id="strPhone" size="15" maxlength="255" value="<?php echo $strCurDealerPhone; ?>" /></td>
                </tr>
                <tr valign="top">
                	<th scope="row"><label for="strURL">URL</label></th>
                    <td><input type="text" name="strURL" id="strURL" size="85" maxlength="255" value="<?php echo $strCurDealerURL; ?>" /></td>
                </tr>
			</tbody>
		</table>

        <p class="submit"><input type="submit" name="submit" id="submit" class="button button-primary" value="Update Dealer"></p>
	</form>
</div>
