<div class="modal extra-vote">
	<div>
        <form name="frmExtraVote" id="frmExtraVote" action="#" method="post">
            <input type="hidden" name="intQuestionID" value="[QUESTION_ID]" />
            <p>Answer the following question correctly to earn one extra vote for your Local Hero. If answered incorrectly, the Local Hero will earn one vote instead of two. The Local Hero’s total vote count will be updated once a day.</p>
        
        	<h3>[QUESTION]</h3>
            <ul>
            [ANSWERS]
            </ul>
            
            <button name="btnExtraVote" id="btnExtraVote" type="submit" class="button blue-tiny"><span>&gt;</span> Submit</button>
		</form>
	</div>
</div>