<div class="modal extra-vote">
	<div>
        <p class="correct">You have already earned your extra vote for today, but you have not yet spent it!</p>
        <p>To spend your extra vote, just vote for someone normally. Your extra vote will be automatically applied to the contestant you are voting for.</p>
	</div>
</div>