<div class="modal extra-vote">
	<div>
        <p class="incorrect">You have already voted today!</p>
        <p>You are only allowed to cast a vote once per day. If you have already cast your vote, you are not eligible for a bonus vote. You must earn your bonus vote before you cast your vote.</p>
	    <p class="cta">Please try again tomorrow!</p>
	</div>
</div>