<div class="modal extra-vote">
	<div>
        <p class="correct">You answered correctly!</p>
        [ANSWER]
        <p class="cta">You've been granted an extra vote today!<br />Whomver you vote for will receive two votes instead of just one!</p>
	</div>
</div>