<div class="modal extra-vote">
	<div>
        <p class="incorrect">You have already answered an extra vote question today!</p>
        <p>You are only allowed to answer an extra vote question once per day, whether you answer correctly or not.</p>
	    <p class="cta">Please try again tomorrow!</p>
	</div>
</div>