<div class="modal extra-vote">
	<div>
        <p class="incorrect">An error was encountered!</p>
        <p>Sorry, but we couldn't find a question for you to answer right now. The site may be too busy at this time.</p>
	    <p class="cta">Please try again later!</p>
	</div>
</div>